body {
  margin: 0;
  overflow: hidden;
}

.breedte {
  min-width: 200px;
  max-height: 650px;
}

.achtergrond {
  background-image: url('/images/Achtergrond.svg');
}

li#splide01-slide01 {
  margin-right: -20px;
}

li#splide01-slide02 {
  margin-right: -15px;
}

li#splide01-slide04 {
  margin-right: -5px;
}

li#splide01-slide05 {
  margin-right: -5px;
}

li#splide01-slide06 {
  margin-right: -6px;
}

li#splide01-slide07 {
  margin-right: -6px;
}

li#splide01-slide08 {
  margin-right: -10px;
}

li#splide01-slide09 {
  margin-right: -15px;
}

li#splide01-slide10 {
  margin-right: 250px;
}

li#splide01-slide11 {
  margin-right: -25px;
}

li#splide01-slide13 {
  margin-left: -95px;
}

li#splide01-slide14 {
  margin-left: -20px;
}

li#splide01-slide15 {
  margin: 0 750px 0 750px;
}
